.App {
  text-align: center;
  display:flex;
  justify-content:center;
  background-color: #ebebe0;
}

.Pagination {
  text-align: center;
  display:flex;
  justify-content:center;
  margin-top: 2%;
  margin-bottom: 4%;
}

.CardView {
  justify-content:center;
}